@model GDev.WebApp.ViewModels.AcessoViewModel

@{
    ViewData["Title"] = "Alterar Acesso";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuloId" class="control-label"></label>
                <select asp-for="ModuloId" class="form-control" asp-items="@(new SelectList(Model.Modulos, "Id", "Descricao", Model.ModuloId))"></select>
                <span asp-validation-for="ModuloId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="@(new SelectList(Model.Clientes, "Id", "RazaoSocial", Model.ClienteId))"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Criado em: @Model.DiaCadastro.ToString()</label>
                <input type="hidden" asp-for="DiaCadastro" class="form-control" />                
            </div>
            <div class="form-group">
                <label class="control-label">Alterado em: @DateTime.Now.ToString()</label>
                <input type="hidden" asp-for="DiaAlteracao" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="DiaAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
