@model IEnumerable<GDev.WebApp.ViewModels.AcessoViewModel>

@{
    ViewData["Title"] = "Acessos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Novo</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaAlteracao)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
